<div id="<%= dom_id material_reserve %>">
  <p>
    <strong>Region:</strong>
    <%= material_reserve.region %>
  </p>

  <p>
    <strong>Enterprise:</strong>
    <%= material_reserve.enterprise_id %>
  </p>

  <p>
    <strong>Enterprise category:</strong>
    <%= material_reserve.enterprise_category %>
  </p>

  <p>
    <strong>Goods type:</strong>
    <%= material_reserve.goods_type %>
  </p>

  <p>
    <strong>Storage apacity:</strong>
    <%= material_reserve.storage_apacity %>
  </p>

  <p>
    <strong>Person in charge:</strong>
    <%= material_reserve.person_in_charge %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= material_reserve.tel %>
  </p>

  <p>
    <strong>Warehouse location:</strong>
    <%= material_reserve.warehouse_location %>
  </p>

</div>
