<li class="nav-item">
  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#materials-collapse" aria-expanded="false" aria-controls="materials-collapse">
    <span class="menu_button">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" color="#006DF1" height="15" fill="currentColor" class="bi bi-menu-button-wide-fill" viewBox="0 0 16 16">
        <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v2A1.5 1.5 0 0 0 1.5 5h13A1.5 1.5 0 0 0 16 3.5v-2A1.5 1.5 0 0 0 14.5 0h-13zm1 2h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1zm9.927.427A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0l-.396-.396zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
      </svg>
      物资管理
      <span class="menu_icon">
        ^
      </span>
    </span>
  </button>
  <div id="" class="" aria-labelledby="materials-heading" data-bs-parent="#sidebar-menu">
    <div class="accordion-body">
      <ul class="list-unstyled">
        <li class="active">
          <% if params[:controller] == 'goods' && params[:action] == 'supply' %>
            <div class="menu_link_clicked">
              <a href="<%= supply_goods_path %>" class="menu_sub_link">
                <span class="" style="margin-left: 40px; line-height: 44px;">物资数据</span>
              </a>
            </div>
          <% else %>
            <div class="menu_link">
              <a href="<%= supply_goods_path %>" class="menu_sub_link">
                <span style="margin-left: 40px; line-height: 44px;">物资数据</span>
              </a>
            </div>
          <% end %>
        </li>
        <li class="active">
          <% if params[:controller] == 'goods' && params[:action] == 'store' %>
            <div class="menu_link_clicked">
              <a href="<%= store_goods_path %>" class="menu_sub_link">
                <span class="" style="margin-left: 40px; line-height: 44px;">重点商超</span>
              </a>
            </div>
          <% else %>
            <div class="menu_link">
              <a href="<%= store_goods_path %>" class="menu_sub_link">
                <span style="margin-left: 40px; line-height: 44px;">重点商超</span>
              </a>
            </div>
          <% end %>
        </li>
        <li class="active">
          <% if params[:controller] == 'goods' && params[:action] == 'rate' %>
            <div class="menu_link_clicked">
              <a href="<%= rate_goods_path %>" class="menu_sub_link">
                <span class="" style="margin-left: 40px; line-height: 44px;">销量环比增降幅</span>
              </a>
            </div>
          <% else %>
            <div class="menu_link">
              <a href="<%= rate_goods_path %>" class="menu_sub_link">
                <span style="margin-left: 40px; line-height: 44px;">销量环比增降幅</span>
              </a>
            </div>
          <% end %>
        </li>
        <li class="active">
          <% if params[:controller] == 'goods' && params[:action] == 'trade' %>
            <div class="menu_link_clicked">
              <a href="<%= trade_goods_path %>" class="menu_sub_link">
                <span class="" style="margin-left: 40px; line-height: 44px;">交易市场</span>
              </a>
            </div>
          <% else %>
            <div class="menu_link">
              <a href="<%= trade_goods_path %>" class="menu_sub_link">
                <span style="margin-left: 40px; line-height: 44px;">交易市场</span>
              </a>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <li class="nav-item">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#materials-collapse" aria-expanded="false" aria-controls="materials-collapse">
      <span class="menu_button">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" color="#006DF1" fill="currentColor" class="bi bi-file-bar-graph-fill" viewBox="0 0 16 16">
          <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-2 11.5v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1z"/>
        </svg>
        物资统计
        <span class="menu_icon">
          ^
        </span>
      </span>
    </button>
  </li>
  <div id="materials-collapse" class="" aria-labelledby="materials-heading" data-bs-parent="#sidebar-menu">
    <div class="accordion-body">
      <ul class="list-unstyled">
        <li class="active">
          <% if params[:controller] == 'daily_goods_statistics' %>
            <div class="menu_link_clicked">
              <a href="<%= daily_goods_statistics_path %>" class="menu_sub_link">
                <span class="" style="margin-left: 40px; line-height: 44px;">物资日统计表</span>
              </a>
            </div>
          <% else %>
            <div class="menu_link">
              <a href="<%= daily_goods_statistics_path %>" class="menu_sub_link">
                <span style="margin-left: 40px; line-height: 44px;">物资日统计表</span>
              </a>
            </div>
          <% end %>
        </li>
        <li class="active">
          <% if params[:controller] == 'enterprises' %>
            <div class="menu_link_clicked">
              <a href="<%= enterprises_path %>" class="menu_sub_link">
                <span class="" style="margin-left: 40px; line-height: 44px;">企业信息</span>
              </a>
            </div>
          <% else %>
            <div class="menu_link">
              <a href="<%= enterprises_path %>" class="menu_sub_link">
                <span style="margin-left: 40px; line-height: 44px;">企业信息</span>
              </a>
            </div>
          <% end %>
        </li>
        <li class="active">
          <% if params[:controller] == 'material_reserves' %>
            <div class="menu_link_clicked">
              <a href="<%= material_reserves_path %>" class="menu_sub_link">
                <span class="" style="margin-left: 40px; line-height: 44px;">仓库信息</span>
              </a>
            </div>
          <% else %>
            <div class="menu_link">
              <a href="<%= material_reserves_path %>" class="menu_sub_link">
                <span style="margin-left: 40px; line-height: 44px;">仓库信息</span>
              </a>
            </div>
          <% end %>
        </li>
        <li class="active">
          <% if params[:controller] == 'goods' %>
            <div class="menu_link_clicked">
              <a href="<%= goods_path %>" class="menu_sub_link">
                <span class="" style="margin-left: 40px; line-height: 44px;">物资信息</span>
              </a>
            </div>
          <% else %>
            <div class="menu_link">
              <a href="<%= goods_path %>" class="menu_sub_link">
                <span style="margin-left: 40px; line-height: 44px;">物资信息</span>
              </a>
            </div>
          <% end %>
        </li>
        <li class="active">
          <% if params[:controller] == 'goods_data_submissions' %>
            <div class="menu_link_clicked">
              <a href="<%= goods_data_submissions_path %>" class="menu_sub_link">
                <span class="" style="margin-left: 40px; line-height: 44px;">物资数据报送</span>
              </a>
            </div>
          <% else %>
            <div class="menu_link">
              <a href="<%= goods_data_submissions_path %>" class="menu_sub_link">
                <span style="margin-left: 40px; line-height: 44px;">物资数据报送</span>
              </a>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</li>
