<div class="card_div">
  <div class="card_index">
    <p class="every_card">17种商品中</p>
    <span class="data_index">2<span class="data_unit" style="margin-left: 6px;">个品类预警</span></span>
    <p class="data_time">较上周
    <span class="data_up">12个
      <%= image_tag 'rate_up.png', style: 'margin-top: -10px;' %>
    </span>
    <span style="margin-left: 47px;">较上月</span>
    <span class="data_down">2个
      <%= image_tag 'rate_down.png', style:"margin-top: -10px;" %>
    </span>
    </p>
  </div>
  <div class="card_index">
    <p class="every_card">17种商品中</p>
    <p class="data_index">6<span class="data_unit" style="margin-left: 6px;">个品类不足</span></p>
    <p class="data_time" style="margin-top: -8px;">较上周
    <span class="data_up">12个
      <%= image_tag 'rate_up.png', style: 'margin-top: -10px;' %>
    </span>
    <span style="margin-left: 47px;">较上月</span>
    <span class="data_down">2个
      <%= image_tag 'rate_down.png', style:"margin-top: -10px;" %>
    </span>
    </p>
  </div>
  <div class="card_index">
    <p class="every_card">17种商品中</p>
    <p class="data_index">11<span class="data_unit" style="margin-left: 6px;">个品类充足</span></p>
    <p class="data_time" style="margin-top: -8px;">较上周
    <span class="data_up">12个
      <%= image_tag 'rate_up.png', style: 'margin-top: -10px;' %>
    </span>
    <span style="margin-left: 47px;">较上月</span>
    <span class="data_down">2个
      <%= image_tag 'rate_down.png', style:"margin-top: -10px;" %>
    </span>
    </p>
  </div>
</div>
