<div id="<%= dom_id warn_setting %>">
  <p>
    <strong>Goods name:</strong>
    <%= warn_setting.goods_name %>
  </p>

  <p>
    <strong>Goods category:</strong>
    <%= warn_setting.goods_category %>
  </p>

  <p>
    <strong>Max warn:</strong>
    <%= warn_setting.max_warn %>
  </p>

  <p>
    <strong>Min warn:</strong>
    <%= warn_setting.min_warn %>
  </p>

  <p>
    <strong>Remak:</strong>
    <%= warn_setting.remak %>
  </p>

</div>
