<div id="<%= dom_id warn %>">
  <p>
    <strong>Region:</strong>
    <%= warn.region_id %>
  </p>

  <p>
    <strong>Material reserf:</strong>
    <%= warn.material_reserf_id %>
  </p>

  <p>
    <strong>Enterprise:</strong>
    <%= warn.enterprise_id %>
  </p>

  <p>
    <strong>Enterprise category:</strong>
    <%= warn.enterprise_category %>
  </p>

  <p>
    <strong>Goods category:</strong>
    <%= warn.goods_category %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= warn.unit %>
  </p>

  <p>
    <strong>Max warn:</strong>
    <%= warn.max_warn %>
  </p>

  <p>
    <strong>Min warn:</strong>
    <%= warn.min_warn %>
  </p>

  <p>
    <strong>Warn result:</strong>
    <%= warn.warn_result %>
  </p>

</div>
