<div id="<%= dom_id goods_warn %>">
  <p>
    <strong>Goods category:</strong>
    <%= goods_warn.goods_category %>
  </p>

  <p>
    <strong>Goods name:</strong>
    <%= goods_warn.goods_name %>
  </p>

  <p>
    <strong>Adequate warning value:</strong>
    <%= goods_warn.Adequate_warning_value %>
  </p>

  <p>
    <strong>Insufficient warning value:</strong>
    <%= goods_warn.Insufficient_warning_value %>
  </p>

  <p>
    <strong>Below warning value:</strong>
    <%= goods_warn.Below_warning_value %>
  </p>

  <p>
    <strong>Remark:</strong>
    <%= goods_warn.remark %>
  </p>

</div>
