<div class="select_supply" style="height: 590px;">
  <p class="supply_select_title">地州物资进销存统计</p>
  <div style="display: flex;">
    <div class="links-container">
      <% if params[:data] == 'input' %>
        <a href="<%= supply_goods_path(data: 'input') %>" data-type="input" style="
          color: #006DF1;
          opacity: 1;
          border: 1px solid #006DF1;
      ">进货量</a>
        <a href="<%= supply_goods_path(data: 'output') %>" data-type="output">销售量</a>
        <a href="<%= supply_goods_path(data: 'save') %>" data-type="save">库存量</a>

      <% elsif params[:data] == 'output' %>
        <a href="<%= supply_goods_path(data: 'input') %>" data-type="input">进货量</a>
        <a href="<%= supply_goods_path(data: 'output') %>" data-type="output" style="
          color: #006DF1;
          opacity: 1;
          border: 1px solid #006DF1;
        ">销售量</a>
        <a href="<%= supply_goods_path(data: 'save') %>" data-type="save">库存量</a>
      <% elsif params[:data] == 'save' %>
        <a href="<%= supply_goods_path(data: 'input') %>" data-type="input">进货量</a>
        <a href="<%= supply_goods_path(data: 'output') %>" data-type="output">销售量</a>
        <a href="<%= supply_goods_path(data: 'save') %>" data-type="save" style="
          color: #006DF1;
          opacity: 1;
          border: 1px solid #006DF1;
        ">库存量</a>
      <% else %>
        <%= link_to '进货量', supply_goods_path(data: 'input'), style: 'color: rgba(0,0,0,0.65); text-decoration: none;', class: "select_div" %>
        <%= link_to '销售量', supply_goods_path(data: 'output'), style: 'color: rgba(0,0,0,0.65); text-decoration: none;', class: 'select_div' %>
        <%= link_to '库存量', supply_goods_path(data: 'save'), style: 'color: rgba(0,0,0,0.65); text-decoration: none;', class: 'select_div' %>

      <% end %>
    </div>
    <div>
      <%= form_tag '' do %>
        <span style="margin-left: 8px; float: left;">
          <%= select_tag :region, options_for_select(@regions, params[:region]), style: 'width: 280px;
              height: 32px;
              background: #FFFFFF;
              border-radius: 3px 3px 3px 3px;
              opacity: 1;
              margin-left: 12px;
              border: 1px solid #DCDCDC;
              ', onchange: 'goToRegion(this);'%>
          <%= select_tag :goods_name, options_for_select(CATEGORY_ARRAY, params[:goods_name]), class: 'rice', onchange: 'goToName(this);', style: 'margin-left: 20px;' %>
          <%= text_field_tag :daily_goods_date, params[:end_at], id: 'datepicker', placeholder: '当日', style: '
              width: 148px; height: 32px; background: #FFFFFF; border-radius: 3px 3px 3px 3px; opacity: 1;
              border: 1px solid #DCDCDC;
              font-size: 14px;
              font-family: PingFang SC-Regular, PingFang SC;
              font-weight: 400;
              color: rgba(0, 0, 0, 0.74);
              line-height: 22px;
              margin-left: 20px;
          ', onchange: 'goToDate(this);'%>
        </span>
        <%#= submit_tag "查询", class: "form_submit", class: 'btn btn-primary' %>

      <% end %>
    </div>
    <div>
      <span style="height: 32px; background: #006DF1; opacity: 1; margin-left: 230px; width: 65px; opacity: 1; "><%= link_to '下载', dwonload_trade_csv_goods_url(enterprise: 'xinlian'), class: 'btn btn-primary', style: '' %>
    </div>
  </div>
  <div style="display: flex;">
    <figure class="highcharts-figure" style="width: 500px;">

      <% if params[:data] == 'input' %>
        <div id="container_input"></div>
      <% elsif params[:data] == 'output' %>
        <div id="container_output"></div>
      <% elsif params[:data] == 'save' %>
        <div id="container_output"></div>
      <% else %>
        <div id="container_default"></div>
      <% end %>
    </figure>
    <div style="width: 613px;
                height: 390px;
                border-radius: 12px 12px 12px 12px;
                margin-top: 34px;
                opacity: 1;">
    <span style="margin-left: 20px;margin-top: 20px; font-size: 16px;
                font-weight: 500;
                margin-bottom: 15px;
                color: #1D2129;
                line-height: 28px;
                display: inline-block; margin-bottom: 10px;
                ">销售占库存比例（存销比）</span>
      <% if params[:data] == 'input' %>
        <div id="container2_input"></div>
      <% elsif params[:data] == 'output' %>
        <div id="container2_output"></div>
      <% elsif params[:data] == 'save' %>
        <div id="container2_save"></div>
      <% else %>
        <div id="container2"></div>
      <% end %>
    </div>
  </div>
</div>


<script>
Highcharts.chart('container_default', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: null,
    // //{
      //  text: '',
       // align: 'left'
    //},
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
      point: {
          valueSuffix: '%'
      }
    },
    exporting: {
      enabled: false // 设置为false表示禁用导出功能
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{ name: '面粉:154.6吨', y: 154.6, sliced: true, selected: true },
            { name: '食用油:115.6吨', y: 115.6 },
            { name: '蔬菜:113.13吨', y: 113.13 },
            { name: '猪肉:118.95吨', y: 118.95 },
            { name: '牛肉:6.13吨', y: 26.13 },
            { name: '大米:168.52吨', y: 168.52 },
            { name: '方便食品:1.96吨', y: 21.96 },
            { name: '水果:2.96吨', y: 22.96 },
            { name: '牛奶:3.96吨', y: 23.96 },
            { name: '鸡蛋:9.23吨', y: 59.23 },
            { name: '禽肉:7.96吨', y: 57.96 },
            { name: '羊肉:8.16吨', y: 38.16 } ]
    }]
});

</script>
<script>
Highcharts.chart('container_save', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: null,
    // //{
      //  text: '',
       // align: 'left'
    //},
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
      point: {
          valueSuffix: '%'
      }
    },
    exporting: {
      enabled: false // 设置为false表示禁用导出功能
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{ name: '面粉:154.6吨', y: 154.6, sliced: true, selected: true },
            { name: '食用油:115.6吨', y: 115.6 },
            { name: '蔬菜:113.13吨', y: 113.13 },
            { name: '猪肉:118.95吨', y: 118.95 },
            { name: '牛肉:6.13吨', y: 76.13 },
            { name: '大米:168.52吨', y: 168.52 },
            { name: '方便食品:1.96吨', y: 31.96 },
            { name: '水果:2.96吨', y: 92.96 },
            { name: '牛奶:3.96吨', y: 33.96 },
            { name: '鸡蛋:9.23吨', y: 59.23 },
            { name: '禽肉:7.96吨', y: 57.96 },
            { name: '羊肉:8.16吨', y: 38.16 } ]
    }]
});

</script>
<script>
Highcharts.chart('container_output', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: null,
    // //{
      //  text: '',
       // align: 'left'
    //},
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
      point: {
          valueSuffix: '%'
      }
    },
    exporting: {
      enabled: false // 设置为false表示禁用导出功能
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{ name: '面粉:54.6吨', y: 54.6, sliced: true, selected: true },
            { name: '食用油:15.6吨', y: 15.6 },
            { name: '蔬菜:23.13吨', y: 23.13 },
            { name: '猪肉:18.95吨', y: 18.95 },
            { name: '牛肉:63.13吨', y: 63.13 },
            { name: '大米:168.52吨', y: 168.52 },
            { name: '方便食品:11.96吨', y: 11.96 },
            { name: '水果:2.96吨', y: 72.96 },
            { name: '牛奶:33.96吨', y: 33.96 },
            { name: '鸡蛋:29.23吨', y: 29.23 },
            { name: '禽肉:7.96吨', y: 37.96 },
            { name: '羊肉:28.16吨', y: 58.16 } ]
    }]
});

</script>
<script>
Highcharts.chart('container_input', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: null,
    // //{
      //  text: '',
       // align: 'left'
    //},
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
      point: {
          valueSuffix: '%'
      }
    },
    exporting: {
      enabled: false // 设置为false表示禁用导出功能
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{ name: '面粉:4.6吨', y: 4.6, sliced: true, selected: true },
            { name: '食用油:1.6吨', y: 1.6 },
            { name: '蔬菜:23.13吨', y: 23.13 },
            { name: '猪肉:128.95吨', y: 128.95 },
            { name: '牛肉:6.13吨', y: 6.13 },
            { name: '大米:68.52吨', y: 68.52 },
            { name: '方便食品:11.9吨', y: 11.9 },
            { name: '水果:2.96吨', y: 2.96 },
            { name: '牛奶:38.96吨', y: 38.96 },
            { name: '鸡蛋:29.23吨', y: 29.23 },
            { name: '禽肉:70.96吨', y: 70.96 },
            { name: '羊肉:2.16吨', y: 2.16 } ]
    }]
});

</script>
<script>
Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: null,
    // //{
      //  text: '',
       // align: 'left'
    //},
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
      point: {
          valueSuffix: '%'
      }
    },
    exporting: {
      enabled: false // 设置为false表示禁用导出功能
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{ name: '面粉:54.6吨', y: 54.6, sliced: true, selected: true },
        { name: '食用油:15.6吨', y: 15.6 },
        { name: '蔬菜:23.13吨', y: 223.13 },
        { name: '猪肉:18.95吨', y: 18.95 },
        { name: '牛肉:63.13吨', y: 63.13 },
        { name: '大米:168.52吨', y: 168.52 },
        { name: '方便食品:11.96吨', y: 11.96 },
        { name: '水果:2.96吨', y: 2.96 },
        { name: '牛奶:33.96吨', y: 33.96 },
        { name: '鸡蛋:29.23吨', y: 29.23 },
        { name: '禽肉:7.96吨', y: 7.96 },
        { name: '羊肉:28.16吨', y: 28.16 } ]
    }]
});

</script>
<style>
.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 660px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

</style>




<script>
  Highcharts.chart('container2_input', {
  chart: {
    type: 'column'
  },
  title: {
    text: null //'销售占库存比例（存销比）'
  },
  exporting: {
    enabled: false // 设置为false表示禁用导出功能
  },
  xAxis: {
    categories: ['面粉', '食用油', '蔬菜', '猪肉', '牛肉', '大米', '方便食品', '水果', '牛奶', '鸡蛋', '禽肉', '羊肉']
  },
  yAxis: [{
    title: {
      text: '库存（吨）',
      style: {
        color: '#165DFF'// Highcharts.getOptions().colors[1]
      }
    }
  }, {
    title: {
      text: '存销比',
      style: {
        color: '#14C9C9' //Highcharts.getOptions().colors[0]
      }
    },
    opposite: true
  }],
  series: [{
    name: '存销比',
    type: 'line',
    yAxis: 1,
    color: '#14C9C9', // Highcharts.getOptions().colors[0],
    data: [2.1, 21.8, 32.3, 12.6, 11.3, 2.5, 13.2, 33.4, 3.1, 3.9, 1.5, 1.8]
  }, {
    name: '库存',
    type: 'column',
    yAxis: 0,
    color: '#165DFF',// Highcharts.getOptions().colors[1],
    data: [54.6, 15.6, 11.13, 18.95, 36.13, 18.52, 11.96, 2.96, 3.96, 99.23, 37.96, 38.16]
  }]
});
</script>
<script>
  Highcharts.chart('container2_output', {
  chart: {
    type: 'column'
  },
  title: {
    text: null //'销售占库存比例（存销比）'
  },
  exporting: {
    enabled: false // 设置为false表示禁用导出功能
  },
  xAxis: {
    categories: ['面粉', '食用油', '蔬菜', '猪肉', '牛肉', '大米', '方便食品', '水果', '牛奶', '鸡蛋', '禽肉', '羊肉']
  },
  yAxis: [{
    title: {
      text: '库存（吨）',
      style: {
        color: '#165DFF'// Highcharts.getOptions().colors[1]
      }
    }
  }, {
    title: {
      text: '存销比',
      style: {
        color: '#14C9C9' //Highcharts.getOptions().colors[0]
      }
    },
    opposite: true
  }],
  series: [{
    name: '存销比',
    type: 'line',
    yAxis: 1,
    color: '#14C9C9', // Highcharts.getOptions().colors[0],
    data: [2.1, 5.8, 23.3, 20.6, 31.3, 32.5, 11.2, 3.4, 3.1, 2.9, 2.5, 1.8]
  }, {
    name: '库存',
    type: 'column',
    yAxis: 0,
    color: '#165DFF',// Highcharts.getOptions().colors[1],
    data: [14.6, 51.6, 113.13, 18.95, 61.13, 18.52, 16.96, 2.9, 36.96, 96.23, 7.9, 86.16]
  }]
});
</script>
<script>
  Highcharts.chart('container2_save', {
  chart: {
    type: 'column'
  },
  title: {
    text: null //'销售占库存比例（存销比）'
  },
  exporting: {
    enabled: false // 设置为false表示禁用导出功能
  },
  xAxis: {
    categories: ['面粉', '食用油', '蔬菜', '猪肉', '牛肉', '大米', '方便食品', '水果', '牛奶', '鸡蛋', '禽肉', '羊肉']
  },
  yAxis: [{
    title: {
      text: '库存（吨）',
      style: {
        color: '#165DFF'// Highcharts.getOptions().colors[1]
      }
    }
  }, {
    title: {
      text: '存销比',
      style: {
        color: '#14C9C9' //Highcharts.getOptions().colors[0]
      }
    },
    opposite: true
  }],
  series: [{
    name: '存销比',
    type: 'line',
    yAxis: 1,
    color: '#14C9C9', // Highcharts.getOptions().colors[0],
    data: [2.1, 1.8, 42.3, 31.6, 31.3, 2.5, 1.2, 43.4, 3.1, 42.9, 1.5, 1.8]
  }, {
    name: '库存',
    type: 'column',
    yAxis: 0,
    color: '#165DFF',// Highcharts.getOptions().colors[1],
    data: [14.6, 11.6, 131.13, 18.95, 66.13, 18.52, 61.9, 25.96, 3.93, 9.2, 76.96, 83.16]
  }]
});
</script>
<script>
  Highcharts.chart('container2', {
  chart: {
    type: 'column'
  },
  title: {
    text: null //'销售占库存比例（存销比）'
  },
  exporting: {
    enabled: false // 设置为false表示禁用导出功能
  },
  xAxis: {
    categories: ['面粉', '食用油', '蔬菜', '猪肉', '牛肉', '大米', '方便食品', '水果', '牛奶', '鸡蛋', '禽肉', '羊肉']
  },
  yAxis: [{
    title: {
      text: '库存（吨）',
      style: {
        color: '#165DFF'// Highcharts.getOptions().colors[1]
      }
    }
  }, {
    title: {
      text: '存销比',
      style: {
        color: '#14C9C9' //Highcharts.getOptions().colors[0]
      }
    },
    opposite: true
  }],
  series: [{
    name: '存销比',
    type: 'line',
    yAxis: 1,
    color: '#14C9C9', // Highcharts.getOptions().colors[0],
    data: [2.1, 1.8, 2.3, 1.6, 1.3, 2.5, 1.2, 3.4, 3.1, 2.9, 1.5, 1.8]
  }, {
    name: '库存',
    type: 'column',
    yAxis: 0,
    color: '#165DFF',// Highcharts.getOptions().colors[1],
    data: [154.6, 115.6, 113.13, 118.95, 76.13, 168.52, 71.96, 92.96, 83.96, 59.23, 87.96, 98.16]
  }]
});
</script>
<style>
  .rate_links {
    width: 68px;
    text-decoration: none;
    height: 32px;
    background: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    opacity: 1;
    line-height: 32px;
    border: 1px solid #D9D9D9;
    text-align: center;

  }
  .rate_links a {
    font-size: 20px;
    color: rgba(0,0,0,0.6);
    line-height: 30px;
    letter-spacing: 1px;
    text-decoration: none; /* 去掉下划线 */
  }

  /* 激活链接样式 */
  .rate_links a.active-link {
    font-size: 24px; /* 加大字号 */
    font-weight: bold; /* 加粗 */
    color: black; /* 黑色 */
    text-decoration: underline; /* 下划线 */
    text-underline-position: under; /* 下划线位置 */
    text-decoration-color: #006DF1;
  }
  .select_div_text {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,0,0,0.65); text-decoration: none;

  }
  .rice {
    width: 148px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    opacity: 1;
    border: 1px solid #DCDCDC;
  }
  .today {
    width: 148px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    opacity: 1;
    border: 1px solid #DCDCDC;

  }
  .select_enterprise{
    width: 280px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    opacity: 1;
    border: 1px solid #DCDCDC;

  }

  .links-container a {
    width: 68px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 2px 0px 0px 2px;
    opacity: 1;
    border: 1px solid #D9D9D9;

  }

  .links-container {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,0,0,0.65);
    line-height: 17px;
    text-align: center;
    line-height: 32px;
    color: rgba(0,0,0,0.65);
    text-decoration: none;
  }
  .links_active{
    color: #006DF1;
    opacity: 1;
    border: 1px solid #006DF1;
  }
  .links-container a.active,
  /*.links-container a:hover */
    {
    color: blue;
    opacity: 1;
    border: 1px solid #006DF1;

  }
  .select_div {
    width: 68px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    opacity: 1;
    line-height: 32px;
    border: 1px solid #D9D9D9;
    text-align: center;
  }

  #region {width: 280px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    opacity: 1;
    border: 1px solid #DCDCDC;
    font-weight: 400;
    color: rgba(0,0,0,0.4);
    line-height: 22px;
    font-size: 14px;
  }
  #goods_name {
    font-size: 14px;
    font-family: PingFang SC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0,0,0,0.4);
    line-height: 22px;
  }

  .btn {
    width: 65px;
    height: 32px;
    background: #006DF1;
    opacity: 1;
    font-size: 14px;
    font-family: PingFang SC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 22px;
}


</style>
<script>
  function goToRegion(select) {
    var goodRegion = select.value;
    if (goodRegion) {
      window.location.href = "/goods/supply?data=save&region=" + goodRegion;
    }
  }
  function goToName(select) {
    var goodName = select.value;
    if (goodName) {
      window.location.href = "/goods/supply?data=save&goods_name=" + goodName;
    }
  }
  function goToDate(select) {
    var goodDate = select.value;
    if (goodDate) {
      window.location.href = "/goods/supply?data=save&end_at=" + goodDate;
    }
  }
</script>
