<div style="background: white;width: 1192px; padding: 20px 0px 0 24px; height: 1200px; background: #FFFFFF; margin: 30px 0; opacity: 1;">
  <p style="">保供企业列表</p>

  <!--
  <div>
    基础信息
    仓储信息
    车辆信息
    人员信息
  </div>
  -->
  <% if current_manager.category == '企业' %>
    <%= link_to '+ 新建', new_enterprise_path, class: 'btn btn-primary', style: '' %>
  <% end %>
  <div class="enterprise_list_div">
    <div style="margin: 30px 20px;">
        <table class='table' style='border-left: 1px solid #dcdcdc;
                border: 1px solid #dcdcdc;
                border-right: 1px solid #dcdcdc;
                background: snow;'>
          <tr class="table_title" class="">
            <td class="table_td_title" style="color: snow;">
              <span class="table_td_title" style="color: snow;">序号</span>
            </td>
            <td class="table_td_title"  style="margin-top: 16px; display: ;color: snow;">保供企业名称</td>
            <td class="table_td_title"  style="color: snow;">保供企业分类</td>
            <td class="table_td_title"  style="color: snow;">物资分类</td>
            <td class="table_td_title"  style="color: snow;">负责人</td>
            <td class="table_td_title"  style="color: snow;">联系电话</td>
            <td class="table_td_title"  style="color: snow; text-align: center;">操作</td>
          </tr>
          <% @enterprises.each do |enterprise| %>
            <tr class="" class="border-bottom" style="border: 1px solid #dcdcdc;background: #ffffff87;">
              <td class="table_text_submission"><%= enterprise.id %></td>
              <td class="table_text_submission"><%= enterprise.name %></td>
              <td class="table_text_submission">
                <%= enterprise.enterprise_category %>
              </td>
              <td class="table_text_submission"><%= enterprise.goods_category %></td>
              <td class="table_text_submission"><%= enterprise.person_in_charge %></td>
              <td class="table_text_submission"><%= enterprise.person_in_charge_tel %></td>
              <td style="display: flex; justify-content: space-around;">
                <%= link_to '查看', new_enterprise_path, style: 'text-decoration: none;' %>
                <%= link_to '修改', edit_enterprise_path(enterprise), style: 'text-decoration: none; color: #68c0fb;' %>
                <%= button_to '删除', enterprise, method: :delete, form: { data: { turbo_confirm: '删除高危企业将一并删除该企业联系人，危化品信息，应急方案信息!' } }, class: "btn btn-danger btn-sm" %>
              </td>
            </tr>
          <% end %>
        </table>
        <!--
      <% @enterprises.each do |enterprise| %>
        <div class="each-row">
          <h5><%= link_to enterprise.name, enterprise, style: 'text-decoration: none;' %><span style="color: gray; float: right;"><%= link_to '查看详情', enterprise, style: 'text-decoration: none; color: gray;' %> ></span></h5>
          <hr/>
          <div>
            <table class='table table-borderless'>
              <tr>
                <td>所属地州: <%= enterprise.region %></td>
                <td> 企业分类: <%= enterprise.enterprise_category %> </td>
              </tr>
              <tr>
                <td> 物资分类: <%= enterprise.goods_category %> </td>
                <td> 负责人: <%= enterprise.person_in_charge %> </td>
              </tr>
              <tr>
                <td>联系电话: <%= enterprise.person_in_charge_tel %></td>
              </tr>
            </table>
          </div>
        </div>
        负责数据录入人员姓名
        联系电话
        邮箱地址
        营业执照
        经营加工许可证
        食品流通许可证
        仓库照片
        审批状态
        <%= enterprise.person_in_charge_of_data_entry %>
        <%= enterprise.person_in_charge_of_data_entry_tel %>
        <%= enterprise.email %>
        <td>
        <% if enterprise.business_license? %>
          <%= link_to (image_tag enterprise.business_license.url, style: 'width: 200px; height: 200px;'), enterprise.business_license.url, target: "_blank" %>
        <% end %>
        </td>
        <td>
        <% if enterprise.business_processing_license? %>
          <%= link_to (image_tag enterprise.business_processing_license.url, style: 'width: 200px; height: 200px;'), enterprise.business_processing_license.url, target: "_blank" %>
        <% end %>
        </td>
        <td>
        <% if enterprise.food_distribution_license? %>
          <%= link_to (image_tag enterprise.food_distribution_license.url, style: 'width: 200px; height: 200px;'), enterprise.food_distribution_license.url, target: "_blank" %>
        <% end %>
        </td>
        <td>
        <% if enterprise.warehouse_photos_one? %>
          <%= link_to (image_tag enterprise.warehouse_photos_one.url, style: 'width: 200px; height: 200px;'), enterprise.warehouse_photos_one.url, target: "_blank" %>
        <% end %>
        <% if enterprise.warehouse_photos_two? %>
          <%= link_to (image_tag enterprise.warehouse_photos_two.url, style: 'width: 200px; height: 200px;'), enterprise.warehouse_photos_two.url, target: "_blank" %>
        <% end %>
        <% if enterprise.warehouse_photos_three? %>
          <%= link_to (image_tag enterprise.warehouse_photos_three.url, style: 'width: 200px; height: 200px;'), enterprise.warehouse_photos_three.url, target: "_blank" %>
        <% end %>
        </td>
        <td>
        <% if enterprise.status.blank? %>
          <%= button_to "拒绝", reject_enterprises_path(id: enterprise.id), class: "btn btn-secondary btn-sm"  %>
          <%= button_to "通过", approve_enterprises_path(id: enterprise.id), class: "btn btn-primary btn-sm"  %>
        <% end %>
        </td>
        <td>
        <%= link_to '增加', new_enterprise_path %>
        <%= link_to '修改', edit_enterprise_path(enterprise) %>
        </td>
        <td>
        <%= button_to '删除', enterprise, method: :delete, form: { data: { turbo_confirm: '删除高危企业将一并删除该企业联系人，危化品信息，应急方案信息!' } }, class: "btn btn-danger btn-sm" %>
        </td>
      <% end %>
      -->

    </div>
  </div>
</div>

<style>
.code {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.list {
  background: #f8f9fa;
  padding: 10px;
}
.each-row {
  border-radius: 5px;
  margin: 50px 180px;
  background: white;
  padding: 10px;
}
.input_enterprise {
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border: 1px solid blue;
  width: 300px;
}
.input_tel {
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border: 1px solid blue;
  width: 200px;
}
.current {
  background: #2381f3;
  color: white;
  border: 1px solid blue;
  border: 1px solid #1890FF;
  width: 32px;
  height: 32px;
  border-radius: 2px 2px 2px 2px;
  opacity: 1;
  display: block;
  text-align: center;
  line-height: 32px;
  font-weight: 400;
  font-size: 14px;
  margin-left: 8px;
}

.page_link {
  margin: 0 8px;
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  opacity: 1;
  border: 1px solid rgba(0,0,0,0.15);
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
}


.page_text{
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 32px;
}

.page_skip{
  width: 48px;
  height: 32px;
  line-height: 28px;
  background: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  opacity: 1;
  border: 1px solid rgba(0,0,0,0.15);
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 22px;
}
.select_enterprise {
  width: 148px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  opacity: 1;
  border: 1px solid #DCDCDC;
}
.enterprise_list_div {
  height: auto;
  background: #FFFFFF;
  padding: 20px 0;
}

</style>
