<h1 style="text-align: center;">车辆详情</h1>
<div class="list">
  <h3 style="margin-left: 180px; margin-top: 50px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
      <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
      <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
    </svg>
    基本信息
  </h3>
  <div class="each-row">
    <table class='table table-hover table-bordered'>
      <tr>
        <th style="width: 200px;">企业名称:</th>
        <td><%= @car.enterprise.try(:name) %></td>
      </tr>
      <tr>
        <th>所属门店:</th>
        <td><%= @car.material_reserf.try(:warehouse_location)%></td>
      </tr>
      <tr>
        <th>车牌号:</th>
        <td><%= @car.car_number %></td>
      </tr>

      <tr>
        <th>车辆载货重量:</th>
        <td><%= @car.weight %></td>
      </tr>

      <tr>
        <th>司机姓名:</th>
        <td><%= @car.driver_name %></td>
      </tr>

      <tr>
        <th>司机手机号码:</th>
        <td><%= @car.driver_tel %></td>
      </tr>

      <tr>
        <th>家庭住址:</th>
        <td><%= @car.driver_address %></td>
      </tr>

    </table>
    <div style="margin-bottom: 100px; margin-top: 50px; text-align: center;">
      <%= link_to '< 返回', cars_path, class: 'btn btn-light', style: 'width: 200px; float: left;' %>
      <% if current_manager.category == '企业' %>
        <%= link_to '修改', edit_car_path(@car), class: 'btn btn-primary', style: 'width: 200px; float: left; margin-left: 300px;' %>
      <% end %>
    </div>
  </div>
</div>

<style>
.list {
  background: #f8f9fa;
  padding: 10px;
}
.each-row {
  border-radius: 5px;
  margin: 50px 180px;
  background: white;
  padding: 10px;
}
</style>
