<div style="display: flex;">
  <div>
    <div class="daily_card_div">
      <div class="daily_card_index">
        <p class="every_card">企业数量</p>
        <span class="data_index">268<span class="data_unit" style="margin-left: 6px;">家</span></span>
        <p class="daily_data_time">较昨日
          <span class="data_up">12家
          <%= image_tag 'rate_up.png', style: 'margin-top: -10px;' %>
          </span>
          <span style="margin-left: 47px;">较上周</span>
          <span class="data_down">2家
            <%= image_tag 'rate_down.png', style:"margin-top: -10px;" %>
          </span>
        </p>
      </div>
      <div class="daily_card_index">
        <p class="every_card">人员总数量</p>
        <p class="data_index">2<span class="data_unit" style="margin-left: 6px;">人</span></p>
        <p class="daily_data_time" style="margin-top: -18px;">较昨日
          <span class="data_up">12家
          <%= image_tag 'rate_up.png', style: 'margin-top: -10px;' %>
          </span>
          <span style="margin-left: 47px;">较上周</span>
          <span class="data_down">2家
            <%= image_tag 'rate_down.png', style:"margin-top: -10px;" %>
          </span>
        </p>
      </div>
      <div class="daily_card_index">
        <p class="every_card">车辆总数量</p>
        <p class="data_index">28<span class="data_unit" style="margin-left: 6px;">辆</span></p>
        <p class="daily_data_time" style="margin-top: -18px;">较昨日
          <span class="data_up">12家
          <%= image_tag 'rate_up.png', style: 'margin-top: -10px;' %>
          </span>
          <span style="margin-left: 47px;">较上周</span>
          <span class="data_down">2家
            <%= image_tag 'rate_down.png', style:"margin-top: -10px;" %>
          </span>
        </p>
      </div>
    </div>
    <div class="daily_table">
      <p class="links_status" style="margin: 20px 0;">
        &nbsp;&nbsp;<%= link_to '数据报送', daily_goods_statistics_path %>
        <%= link_to '仓储信息', material_reserves_path, style: 'margin-left: 26px;'  %>
        <%= link_to '车辆信息', cars_path, style: 'margin-left: 26px;'  %>
        <%= link_to '人员信息', enterprise_personnels_path, style: 'margin-left: 26px;', class: 'active-link' %>
      </p>
      <div style="margin: 20px 0;">
        <%= form_tag '', method: :get do %>
          <p>

            人员类别:&nbsp;&nbsp; <%= select_tag :category, options_for_select(@categories, params[:category]), class: 'select_enterprise' %>&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp; <%= text_field_tag :name, params[:name], placeholder: '请输入人员名称', class: 'select_enterprise', style:'margin-left: 10px; width: 250px;' %>&nbsp;&nbsp;&nbsp;&nbsp;
            <%= submit_tag "查询", class: "form_submit", class: 'btn btn-primary btn-sm', style: 'width: 80px;' %>
          </p>
        <% end %>
        <% if current_manager.category == '企业' %>
          <%#= link_to '新建', new_enterprise_personnel_path, class: 'btn btn-light btn-sm', style: 'border: 1px solid #0d6efd; width:80px;' %>
          <%= link_to '新增人员', new_enterprise_personnel_path, class: 'btn btn-primary btn-sm', style: 'width:80px;' %>&nbsp;&nbsp;
          &nbsp;&nbsp;<%= link_to '批量导入', upload_csv_page_enterprise_personnels_path, class: 'btn btn-success btn-sm' %>
          <!--
            &nbsp;&nbsp;区域:&nbsp;&nbsp; <%= select_tag :region, options_for_select(@regions, params[:region]), class: 'select_enterprise' %>
            &nbsp;&nbsp;企业:&nbsp;&nbsp; <%= text_field_tag :name, params[:name], placeholder: '新疆广宏食品集团有限公司', class: 'select_enterprise', style:'margin-left: 10px; width: 250px;' %>
            &nbsp;&nbsp;负责人:&nbsp;&nbsp; <%= text_field_tag :person_in_charge, params[:person_in_charge], placeholder: '李华', class: 'select_enterprise' %>
            <br/>
            <br/>
            &nbsp;&nbsp;联系电话:&nbsp;&nbsp; <%= text_field_tag :person_in_charge_tel, params[:person_in_charge_tel], placeholder: '13307830000', class: 'select_enterprise' %>
            &nbsp;&nbsp;<%= link_to '下载CSV', download_csv_enterprise_personnels_path, class: 'btn btn-primary btn-sm' %>&nbsp;&nbsp;&nbsp;&nbsp;
          -->
        <% end %>
      </div>
      <table class='table' style='border-left: 1px solid #dcdcdc;
              border: 1px solid #dcdcdc;
              border-right: 1px solid #dcdcdc;
              background: snow;'>
        <tr class="table_title" class="">
          <td class="table_td_title" style="color: snow;">
            <span class="table_td_title" style="color: snow;">选择</span>
          </td>
          <td class="table_td_title"  style="margin-top: 16px; display: ;color: snow;">保供企业地州</td>
          <td class="table_td_title"  style="margin-top: 16px; display: ;color: snow;">保供企业名称</td>
          <td class="table_td_title"  style="color: snow;">保供企业分类</td>
          <td class="table_td_title"  style="color: snow;">人员类别</td>
          <td class="table_td_title"  style="color: snow;">姓名</td>
          <td class="table_td_title"  style="color: snow;">手机号</td>
          <td class="table_td_title"  style="color: snow; text-align: center;">操作</td>
        </tr>
        <% @enterprise_personnels.each do |enterprise_personnel| %>
          <tr class="" class="border-bottom" style="border: 1px solid #dcdcdc;background: #ffffff87;">
            <td class="table_text_submission">
              <%#= enterprise_personnel.id %>
              <%= check_box_tag :person %>
            </td>
            <td class="table_text_submission"><%= enterprise_personnel.enterprise.try(:region)%></td>
            <td class="table_text_submission"><%= enterprise_personnel.enterprise.try(:name)%></td>
            <td class="table_text_submission"><%= enterprise_personnel.enterprise.try(:enterprise_category)%></td>
            <td class="table_text_submission">
              <%= enterprise_personnel.category %>
            </td>
            <td class="table_text_submission"><%= link_to enterprise_personnel.name, enterprise_personnel, style: 'text-decoration: none; color: #000;' %></td>
            <td class="table_text_submission"><%= enterprise_personnel.tel %></td>
            <td style="display: flex; justify-content: space-around;">
              <%= link_to '查看', new_enterprise_personnel_path, style: 'text-decoration: none;' %>
              <%= link_to '修改', edit_enterprise_personnel_path(enterprise_personnel), style: 'text-decoration: none; color: #68c0fb;' %>
              <%= button_to '删除', enterprise_personnel, method: :delete, form: { data: { turbo_confirm: '删除高危企业将一并删除该企业联系人，危化品信息，应急方案信息!' } }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </table>
      <div style="height: 30px;"></div>
      <div style="display: flex; float: right;">

        <% start_index = @enterprise_personnels.offset_value + 1 %>
        <% end_index = start_index + @enterprise_personnels.length - 1 %>

        <p class="page_text">
          <span> 第 <%= start_index %> - <%= end_index %> 条/总共 <%= @enterprise_personnels.total_count %> 条

            <% if @enterprise_personnels.total_pages > 1 %>

              <% first_page = [1, @enterprise_personnels.current_page - 3].max %>
              <% last_page = [first_page + 6, @enterprise_personnels.total_pages].min %>
              <% page_links = (first_page..last_page).map do |page|
                if page == @enterprise_personnels.current_page
                  content_tag :span, page, class: 'current'
                else
                  link_to page, { page: page }, class: 'page_link'
                end
              end %>
              <%= content_tag :div, page_links.join.html_safe, class: 'paging_links', style: 'display: flex;' %>
              <span class="page_text">
                <%= form_tag '', method: :get do %>
                  &nbsp;&nbsp;<span class="page_text"><%#= @daily_goods_statistics.current_page %> 每页 <%= select_tag :per_page, options_for_select([10, 20, 50], params[:per_page]), onchange: "$('#filter_form').submit()" %> 条</span>
                  &nbsp;&nbsp;跳至:&nbsp;&nbsp; <%= text_field_tag :page, params[:page], class: 'page_skip', onchange: "$('#filter_form').submit()"%>&nbsp;&nbsp;页
                  &nbsp;&nbsp;<%= submit_tag "跳转", class: "page_skip", class: 'btn btn-primary btn-sm', style: 'width: 55px; font-size: 14px; height: 32px; background: #006DF1; opacity: 1' %>
                <% end %>
              </span>
            <% end %>
          </span>
        </p>
        <% if current_manager.email.include? 'enterprise_personnel' %>
          <h5><%= link_to '新建企业', new_enterprise_personnel_path, style: 'text-decoration: none;' %></h5>
        <% end %>
        <h5><%#= link_to '新建企业', new_enterprise_path, style: 'text-decoration: none;' %><span style="float: right;"><%#= link_to '返回顶部', enterprises_path, style: 'text-decoration: none;' %></span></h5>
      </div>

    </div>
  </div>
  <%= render 'home/list_bottom' %>
</div>


<style>
.code {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.list {
  background: #f8f9fa;
  padding: 10px;
}
.each-row {
  border-radius: 5px;
  margin: 50px 180px;
  background: white;
  padding: 10px;
}
.input_enterprise {
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border: 1px solid blue;
  width: 300px;
}
.input_tel {
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border: 1px solid blue;
  width: 200px;
}
.current {
  background: #2381f3;
  color: white;
  border: 1px solid blue;
  border: 1px solid #1890FF;
  width: 32px;
  height: 32px;
  border-radius: 2px 2px 2px 2px;
  opacity: 1;
  display: block;
  text-align: center;
  line-height: 32px;
  font-weight: 400;
  font-size: 14px;
  margin-left: 8px;
}

.page_link {
  margin: 0 8px;
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  opacity: 1;
  border: 1px solid rgba(0,0,0,0.15);
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
}


.page_text{
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 32px;
}

.page_skip{
  width: 48px;
  height: 32px;
  line-height: 28px;
  background: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  opacity: 1;
  border: 1px solid rgba(0,0,0,0.15);
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 22px;
}
.links_status{
  margin-left: 19px;
}
.links_status a {
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  line-height: 24px;
}

/* 激活链接样式 */
.links_status a.active-link {
  font-size: 16px;
  font-weight: 500;
  color: #3F73F6;
  line-height: 24px;
  font-weight: bold; /* 加粗 */
  text-decoration: underline; /* 下划线 */
  text-underline-position: under; /* 下划线位置 */
  text-decoration-color: #006DF1;
}
.select_region {
  height: 32px;
  background: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  opacity: 1;
  margin-left: 12px;
  border: 1px solid #DCDCDC;
}
.select_store {
  height: 32px;
  background: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  opacity: 1;
  margin-left: 12px;
  border: 1px solid #DCDCDC;
}
.daily_status_border {
  height: 54px;
  border-radius: 1px;
  width: 144px;
  border-left: 2px solid #DDD;
  margin-left: 37px;
  margin-top: 3px;

}
.daily_status_date_success {
  font-size: 14px;
  margin-left: 45px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(0,0,0,0.45);
  line-height: 22px;
}

.daily_status_date_error {
  font-size: 14px;
  margin-left: 78px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(0,0,0,0.45);
  line-height: 22px;
}

.daily_status_date {
  font-size: 14px;
  margin-left: 80px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(0,0,0,0.45);
  line-height: 22px;
}
.daily_status {
  margin-left: 10px;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(0,0,0,0.9);
  line-height: 24px;
}
.daily_status_text {
  margin-left: 20px;
}
.daily_card_enterprise_status_title {
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #1D2129;
  line-height: 22px;

  margin-left: 20px;
}
.daily_card_enterprise_status {
  height: 1200px;
  background: #FFFFFF;
  width: 269px;
  margin-top: 33px;
  padding-top: 33px;
  margin-left: 20px;

}
.daily_card_enterprise_content {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  margin-left: 15px;
  margin-top: 30px;
  color: #FFFFFF;
  line-height: 28px;
}
.daily_card_enterprise_title {
  font-size: 14px;
  margin-top: 30px;
  margin-left: 15px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 28px;
}
.daily_card_enterprise {
  width: 289px;
  height: 170px;
  background: url('<%= asset_path "enterprise_background.png" %>');
}
.daily_table {
  padding: 10px;
  height: 1200px;
  width: 887px;
  background: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 40px;
}
.daily_card_index {
  width: 274px;
  height: 134px;
  background: #F7F8FA;
  margin-top: 20px;
  margin-left: 16px;
  border-radius: 6px;

}
.daily_card_div {
  width: 887px;
  height: 170px;
  background: #FFFFFF;
  display: flex;

}
.daily_enterprise_name {
  font-size: 15px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 24px;
  margin-left: 15px;
}
.daily_data_time {
  font-size: 12px;
  font-weight: 400;
  color: #4E5969;
  line-height: 20px;
  margin-left: 19px;
  margin-bottom: 18px;
}
</style>
<style>
.table {
  max-width: 843px;
  margin-bottom: 8px;
  text-align:center;
}
table {
  background-color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.table thead tr{
  background-color: #0d6efd;
  color: white;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #ddd;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 3px;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}
.table-hover>tbody>tr:hover>td {
  background-color: #ecf3f8;
}
/* .table-striped>tbody>tr:nth-child(odd)>td {
   background-color: #f9f9f9;
}*/
.table-striped tr:nth-child(even)>td {
  background-color: #f9f9f9;
}
</style>

<style>
.code {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.list {
  background: #f8f9fa;
  padding: 10px;
}
.each-row {
  border-radius: 5px;
  margin: 50px 180px;
  background: white;
  padding: 10px;
}
.input_enterprise {
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border: 1px solid blue;
  width: 300px;
}
.input_tel {
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border: 1px solid blue;
  width: 200px;
}
.current {
  background: #2381f3;
  color: white;
  border: 1px solid blue;
  border: 1px solid #1890FF;
  width: 32px;
  height: 32px;
  border-radius: 2px 2px 2px 2px;
  opacity: 1;
  display: block;
  text-align: center;
  line-height: 32px;
  font-weight: 400;
  font-size: 14px;
  margin-left: 8px;
}

.page_link {
  margin: 0 8px;
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  opacity: 1;
  border: 1px solid rgba(0,0,0,0.15);
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
}


.page_text{
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 32px;
}

.page_skip{
  width: 48px;
  height: 32px;
  line-height: 28px;
  background: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  opacity: 1;
  border: 1px solid rgba(0,0,0,0.15);
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 22px;
}
.select_enterprise {
  width: 148px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  opacity: 1;
  border: 1px solid #DCDCDC;
}
</style>
