<%= form_with(model: enterprise_personnel) do |form| %>
  <div class= "table_div">
    <table class='table_new_material' style="">
      <tr>
        <th class="table_name">
          <svg xmlns="http://www.w3.org/2000/svg" color="#E34D59" width="8" height="8" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
            <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"/>
          </svg>&nbsp;&nbsp;
          企业名称</th>
        <td>
          <%= form.select :enterprise_id, options_from_collection_for_select(current_manager.enterprises.all, :id, :name), {}, class:'form-control', style: 'margin-left: 10px;' %>
        </td>
      </tr>
      <!--
        <tr>
        <th style="width: 200px;">企业负责人</th>
        <td><%= form.text_field :person_in_charge, class: 'form-control', placeholder: '李华', style: 'margin-left: 10px;' %></td>
        </tr>

        <tr>
        <th class="table_name">联系电话</th>
        <td><%= form.text_field :person_in_charge_tel, class: 'form-control', placeholder: '13300002222', style: 'margin-left: 10px;' %></td>
        </tr>

        <tr>
        <th class="table_name">企业地址</th>
        <td><%= form.text_field :enterprise_address, class: 'form-control', placeholder: '乌鲁木齐市红旗区11号', style: 'margin-left: 10px;' %></td>
        </tr>

        <tr>
        <th class="table_name">物资种类</th>
        <td><%= form.text_field :material_type, class: 'form-control', placeholder: '大米', style: 'margin-left: 10px;' %></td>
        </tr>

        <tr>
        <th class="table_name">仓库地址</th>
        <td><%= form.text_field :warehouse_address, class: 'form-control', placeholder: '东村冷库', style: 'margin-left: 10px;' %></td>
        </tr>

        <tr>
        <th class="table_name">仓库类型</th>
        <td><%= form.text_field :warehoues_type, class: 'form-control', placeholder: '成品库', style: 'margin-left: 10px;' %></td>
        </tr>

        <tr>
        <th class="table_name">库存量</th>
        <td><%= form.text_field :inventory_quantity, class: 'form-control', placeholder: '2000吨', style: 'margin-left: 10px;' %></td>
        </tr>

        <tr>
        <th class="table_name">仓库负责人</th>
        <td><%= form.text_field :warehouse_manager, class: 'form-control', placeholder: '李华', style: 'margin-left: 10px;' %></td>
        </tr>

        <tr>
        <th class="table_name">仓库负责人联系电话</th>
        <td><%= form.text_field :warehouse_manager_tel, class: 'form-control', placeholder: '13533330000', style: 'margin-left: 10px;' %></td>
        </tr>
      -->

      <tr>
        <th class="table_name">
          <svg xmlns="http://www.w3.org/2000/svg" color="#E34D59" width="8" height="8" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
            <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"/>
          </svg>&nbsp;&nbsp;
          人员姓名</th>
        <td><%= form.text_field :name, class: 'form-control', placeholder: '张三', style: 'margin-left: 10px;' %></td>
      </tr>
      <tr>
        <th class="table_name">
          <svg xmlns="http://www.w3.org/2000/svg" color="#E34D59" width="8" height="8" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
            <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"/>
          </svg>&nbsp;&nbsp;
          人员性别</th>
        <td><%= form.text_field :sex, class: 'form-control', placeholder: '男', style: 'margin-left: 10px;' %></td>
      </tr>
      <tr>
        <th class="table_name">
          <svg xmlns="http://www.w3.org/2000/svg" color="#E34D59" width="8" height="8" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
            <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"/>
          </svg>&nbsp;&nbsp;
          人员类别</th>
        <td><%= form.text_field :category, class: 'form-control', placeholder: '填报人员', style: 'margin-left: 10px;' %></td>
      </tr>
      <tr>
        <th class="table_name">
          <svg xmlns="http://www.w3.org/2000/svg" color="#E34D59" width="8" height="8" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
            <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"/>
          </svg>&nbsp;&nbsp;
          手机号码</th>
        <td><%= form.text_field :tel, class: 'form-control', placeholder: '13300002222', style: 'margin-left: 10px;' %></td>
      </tr>
      <tr>
        <th class="table_name">
          <svg xmlns="http://www.w3.org/2000/svg" color="#E34D59" width="8" height="8" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
            <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"/>
          </svg>&nbsp;&nbsp;
          身份证号码</th>
        <td><%= form.text_field :id_card, class: 'form-control', placeholder: '223912199002022233', style: 'margin-left: 10px;' %></td>
      </tr>
      <tr>
        <th class="table_name">
          <svg xmlns="http://www.w3.org/2000/svg" color="#E34D59" width="8" height="8" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
            <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"/>
          </svg>&nbsp;&nbsp;
          邮箱</th>
        <td><%= form.text_field :email, class: 'form-control', placeholder: 'zhangsan@emial.com', style: 'margin-left: 10px;' %></td>
      </tr>
      <tr>
        <th class="table_name">
          <svg xmlns="http://www.w3.org/2000/svg" color="#E34D59" width="8" height="8" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
            <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"/>
          </svg>&nbsp;&nbsp;
          家庭住址</th>
        <td><%= form.text_field :family_address, class: 'form-control', placeholder: '乌鲁木齐市天山区中山路479号', style: 'margin-left: 10px;' %></td>
      </tr>


    </table>
    <div style="margin-bottom: 200px; margin-top: 100px; margin-left: 90px;">
      <%= link_to '返回', enterprise_personnels_path, class: 'btn btn-primary', style: 'width: 150px; margin-left: 100px; background-color: white; color: #0d6efd;' %>
      <%= form.submit "提交", class: 'btn btn-primary', style: 'width: 150px; margin-left: 100px;' %>
      <%#= link_to "详情", @enterprise_personnel, class:'btn btn-primary', style: 'width: 150px; margin-right: 50px; float: right;', style: 'margin-left: 10px;' %>
    </div>
  </div>
<% end %>
<style>
.from{
  margin: 0 180px;
}
.upload-box {
  width: 200px;
  height: 100px;
  position: relative;
  border: 1px dashed #ccc;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
}
.upload-box:hover {
  background-color: #f9f9f9;
}
.upload-box span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #ccc;
}
.table_div{
  margin: 0 auto;
}
.table_name {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(0,0,0,0.9);
  line-height: 22px;
  margin-right: 10px;
}
.table_new_material{
  width: 600px;
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-left: 50px;
  text-align: right;

}
.form_new_control{
  width: 200px;
  margin-left: 10px;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
</style>
